/* style.css */

body {
  background-color: #000;
  background-image: url(http://screwups-dev.inspecdigital.org/wp-content/uploads/2015/01/bkgd.jpg);
  background-size: container;
  background-repeat: no-repeat;
  background-position: top;
  color: #fff;
}
h1, h2, h3, h4 {
  font-family: 'Patrick Hand SC', sans-serif;
  color: #fce04b;
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 48px;
}
a {
  color: #fce04b;
}
a:hover, a:focus, a:active {
  color: #fff1a5;
  text-decoration: none;
}

.bg-color-primary {
  background:rgba(130,55,35,0.8);
}

.bg-color-secondary {
  background:rgba(0,0,0,0.5);
}

/* Button overloads. Use ! important to defeat WP core styles */
.btn-default,
.btn-primary,
.submit {
  background: #fce04b ! important;
  border-color: #fce04b ! important;
  color: #361b14 ! important;
}
.btn-default:hover,
.btn-primary:hover,
.submit:hover {
  background: #fff1a5 ! important;
  border-color: #fce04b ! important;
  color: #361b14 ! important;
}
.footer {
  background: #361b14;
  margin-top: 30px;
  padding: 20px 0;
}
.h2 {
  color: #fce04b;
  font-family: 'Patrick Hand SC', sans-serif;
  font-size:55px;
}
#main article {
  padding: 20px;
}
.main article {
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #512c21;
}
.main article img {
  float: right;
  padding-left: 15px;
}
.banner-brand {
  margin: 10px auto 20px auto;
}
.banner-brand h1 {
  font-size: 36px;
}
.banner-brand h3 {
  font-size: 40px;
}
.cta-submit {
  font-size:28px;
  margin-bottom:1em;
}
.hero-content {
  padding: 20px;
}
.hero-content h1 {
  line-height: 1em;
  margin-top:0;
}
.hero-content p {
  font-size:2.2em;
}
.hero-wrapper {
  position: relative;
  float: left;
  border: 2px solid #361b14;
}
.home .row {
  margin-left: 0;
  margin-right: 0;
}
.navbar {
  background: #361b14;
  border: none;
  border-bottom: 2px solid #000;
}
.navbar .navbar-form {
  margin-top: 13px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: #fce04b;
  font-family: 'Patrick Hand SC', sans-serif;
  font-size: 30px;
  line-height: 1em;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #673426;
  color: #fce04b;
}

@media (min-width: 768px) {
  .navbar-nav-secondary {
    float: right;
  }
}
@media (min-width: 1200px) {
  .container { width: 970px; }
}